STRINGTABLE
{
 43001, "100 %"
 43002, "Accessing data..."
 43003, "&All"
 43004, "Calculating page <page> for report <documentname>"
 43005, "Cancel"
 43006, "Close"
 43007, "Copies"
 43008, "There are no printers connected to your computer."
 43009, "Curr&ent Page"
 43010, "Drawing page <page> of <pagecount> for report <documentname>"
 43011, "Enter page numbers and/or page ranges separated by commas.  For example, 1,3,5-12."
 43012, "Report Emulation Text File"
 43013, "First Page"
 43014, "Last Page"
 43015, "Next Page"
 43016, "of"
 43017, "OK"
 43018, "Page"
 43019, "Page Range"
 43020, "Pa&ges"
 43022, "Print"
 43023, "Print Preview"
 43024, "Printing"
 43025, "Printer"
 43026, "Print to File"
 43027, "Printing page <page> for report <documentname> on the <printername>"
 43028, "Printing page <page> of <pagecount> for report <documentname> on the <printername>"
 43029, "Prior Page"
 43030, "Whole Page"
 43031, "Page Width"
 43032, "No pages entered."
 43033, "Please specify file name before continuing."
 43034, "Archive File"
 43037, "Text File"
 43038, "As"
 43039, "Name"
 43040, "Could not open DataSet."
 43042, "Unable to convert position for column <columnno>."
 43043, "Unable to find position for column <columnno>."
 43044, "Band height cannot exceed page height."
 43045, "Record not found:"
 43046, "File not found:"
 43047, "Error reading template from database."
 43049, "Invalid Template Format"
 43050, "Ignore the error and continue?"
 43051, "File is read-only."
 43053, "Cannot store a template to a field of this type."
 43054, "Show all data where the"
 43055, "and the"
 43056, "is not a valid date."
 43057, "is not a valid time."
 43058, "is not a valid datetime."
 43059, "is not a valid number."
 43060, "Value must be either True or False."
 43061, "Search value must be entered."
 43062, "and"
 43063, "Add to list"
 43064, "Remove from list"
 43065, "Search"
 43066, "indicates that this search value must be entered."
 43067, "Unable to open file: <filename>."
 43068, "(blank)"
 43069, "Calculating Crosstab: Record <count>."
 43070, "Total"
 43071, "Data"
 43072, "Grand Total"
 43073, "CrossTab: <name> references field '<name>'"
 43074, "which is not a field of data pipeline: <name>."
 43075, "Subtotal"
 43076, "Formatting CrossTab: Compute cell heights and widths."
 43077, "Formatting CrossTab Values: Compute cell heights and widths."
 43078, "Formatting CrossTab Values: Compute cell heights and widths. Column: <count> Row: <count>"
 43079, "Formatting CrossTab Rows: Compute caption text sizes."
 43080, "Formatting CrossTab Rows: Coalesce caption heights."
 43081, "Formatting CrossTab Rows: Allocate caption heights."
 43082, "Formatting CrossTab Rows: Adjust total row heights."
 43083, "Formatting CrossTab Rows: Allocate caption widths."
 43084, "Formatting CrossTab Columns: Compute caption text sizes."
 43085, "Formatting CrossTab Columns: Coalesce caption widths."
 43086, "Formatting CrossTab Columns: Coalesce caption heights."
 43087, "Formatting CrossTab Columns: Allocate caption widths."
 43088, "Formatting CrossTab Columns: Adjust total column heights."
 43089, "Formatting CrossTab Columns: Position field labels."
 43090, "Formatting CrossTab Values: Position field labels."
 43091, "Formatting CrossTab Values: Allocate caption heights."
 43092, "is"
 43093, "is equal to"
 43094, "is not"
 43095, "is not equal to"
 43096, "is before"
 43097, "is less than"
 43098, "is on or before"
 43099, "is less than or equal to"
 43100, "is after"
 44000, "is greater than"
 44001, "is on or after"
 44002, "is greater than or equal to"
 44003, "begins with"
 44004, "does not begin with"
 44005, "is between"
 44006, "is not between"
 44007, "matches one of the values in this list"
 44008, "is blank"
 44009, "is not blank"
 44010, "&Name"
 44011, "Type"
 44012, "Where"
 44013, "&Properties"
 44014, "Number of &copies"
 44015, "Colla&te"
 44016, "P&rint"
 44017, "All pages in range"
 44018, "Odd pages"
 44019, "Even pages"
 44020, "Windows cannot print due to a problem with the current printer setup."
 44021, "Search Data"
 44022, "No bands for this report."
 44023, "Cannot generate report."
 44024, "Invalid Value"
 44025, "Move Tab &Left"
 44026, "Move Tab &Right"
 44027, "does not match any of the values in this list"
 44028, "Count"
 44029, "Sum"
 44030, "Minimum"
 44031, "Maximum"
 44032, "Average"
 44033, "Show all values of the <name> field."
 44034, "No Data Found"
 44035, "No data found for this report."
 44036, "has any value."
 44040, "Main"
 44041, "Hide Outline"
 44042, "Show Outline"
 44043, "Expand Outline"
 44044, "Collapse Outline"
 44045, "...more..."
 44046, "Done"
 44047, "Error"
 44048, "Found"
 44049, "Clear the search"
 44050, "Found Text From Page"
 44051, "Text Search Cancelled"
 44052, "Enter the text to find"
 44053, "Find text in the report"
 44054, "Show the Find Text Toolbar"
 44055, "Hide the Find Text Toolbar"
 44056, "Start Search on Current Page"
 44057, "Start Search on First Page"
 44058, "Find First"
 44059, "Find Last"
 44060, "Find Next"
 44061, "Find Prior"
 44062, "Show All"
 44063, "Case Sensitive"
 44064, "Whole Word"
 44065, "StartingPage"
 44066, "Enabled"
 44067, "Show the Find Text Toolbar"
 44068, "Default Find Text String"
 44069, "<FindText>"
 44070, "Error: Text Search Cancelled"
 44071, "Find"
 44072, "Find Text"
 44073, "Print in Background"
 44074, "File"
 44075, "New"
 44076, "Report"
 44077, "File Name"
 44078, "File Type"
 44079, "Advanced"
 44080, "Options"
 44081, "To"
 44082, "From"
 44083, "CC"
 44084, "BCC"
 44085, "Attach"
 44086, "Reply To"
 44087, "Subject"
 44088, "Preview"
 44089, "Delete File"
 44090, "Connection"
 44091, "Login"
 44092, "Send"
}