STRINGTABLE
{
 43101, "Align Bottom"
 43102, "Align Center"
 43103, "Align Left"
 43104, "Align Right"
 43105, "Align Top"
 43106, "Align Middle"
 43107, "Center Horizontally in Band"
 43108, "Center Vertically in Band"
 43109, "Grow Height to Largest"
 43110, "Grow Width to Largest"
 43111, "Shrink Height to Smallest"
 43112, "Shrink Width to Smallest"
 43113, "Space Horizontally"
 43114, "Space Vertically"
 43115, "Left to Right"
 43116, "Right to Left"
 43117, "Line Types"
 43118, "Shape Types"
 43119, "Set Value"
 43120, "&Edit"
 43121, "Bring to &Front"
 43122, "&Copy"
 43123, "Cu&t"
 43124, "&Delete"
 43125, "&Paste"
 43126, "&Redo"
 43127, "Se&lect All"
 43128, "Send to &Back"
 43129, "&Undelete"
 43130, "&Undo"
 43131, "&File"
 43132, "&Close"
 43133, "&New"
 43134, "&Open..."
 43135, "Page Set&up..."
 43136, "&Print"
 43137, "Print to &File Setup..."
 43138, "&Save"
 43139, "Save &As..."
 43140, "Save F&orm"
 43141, "Data"
 43142, "&Help"
 43143, "&About"
 43144, "&Help Topics"
 43145, "&Report"
 43146, "&Groups..."
 43147, "&Landscape"
 43148, "&Portrait"
 43149, "&Summary"
 43150, "&Title"
 43151, "&Units"
 43152, "&Inches"
 43153, "&Millimeters"
 43154, "Set Caption"
 43155, "&View"
 43156, "New"
 43157, "CharWrap"
 43158, "&Rulers"
 43159, "&Show Data"
 43160, "Bold"
 43161, "Bring to Front"
 43162, "GraphicType"
 43163, "Center"
 43164, "DBCalc"
 43165, "DBImage"
 43166, "DBMemo"
 43167, "DBText"
 43168, "Font"
 43169, "Font Size"
 43170, "Image"
 43171, "Italic"
 43172, "Label"
 43173, "Left Justify"
 43174, "Line"
 43175, "Memo"
 43176, "Right Justify"
 43177, "Send to Back"
 43178, "Shape"
 43179, "Underline"
 43180, "Ready."
 43181, "Left"
 43182, "Top"
 43183, "Width"
 43184, "Height"
 43185, "Design"
 43186, "Preview"
 43187, "Column Footer"
 43188, "Column Header"
 43189, "Detail"
 43190, "Footer"
 43191, "Group Footer"
 43192, "Group Header"
 43193, "Header"
 43194, "Summary"
 43195, "Title"
 43196, "Calc Type"
 43197, "Calculations"
 43198, "Reset Group"
 43199, "Display Format"
 43200, "Format"
 43201, "Break On"
 43202, "Custom Field"
 43203, "Data Field"
 43204, "Groups"
 43205, "New page when less than"
 43206, "On Group Change"
 43207, "Drag to make this menu float"
 43208, "Reprint group headers on subsequent pages"
 43209, "Reset page number"
 43210, "Start new page"
 43211, "Memo Editor"
 43212, "Column Positions"
 43213, "Column Width"
 43214, "Columns"
 43215, "&Header"
 43216, "Layout"
 43217, "Orientation"
 43218, "Page Setup"
 43219, "Paper Size"
 43220, "Paper Source"
 43221, "Paper Tray"
 43222, "Row Spacing"
 43224, "PageEnd"
 43225, "&Hide"
 43226, "AutoSize"
 43227, "BlankWhenZero"
 43228, "Calculations..."
 43229, "Center"
 43230, "DisplayFormat..."
 43231, "Double"
 43232, "DynamicHeight"
 43233, "Lines..."
 43234, "NewPage"
 43235, "Picture..."
 43236, "PrintOnFirstPage"
 43237, "PrintOnLastPage"
 43238, "ReprintOnOverFlow"
 43239, "ReprintOnSubsequent"
 43240, "ShiftWithParent"
 43241, "Single"
 43242, "StaticHeight"
 43243, "Stretch"
 43244, "StretchWithParent"
 43245, "SuppressRepeatedValues"
 43246, "Transparent"
 43247, "Visible"
 43248, "WordWrap"
 43249, "Available Controls"
 43250, "Bands"
 43251, "Comma delimited"
 43252, "File Name"
 43253, "File Type"
 43254, "Fixed Length"
 43255, "Order"
 43256, "Print to File Setup"
 43257, "Save Length"
 43258, "Selected Controls"
 43259, "Tab delimited"
 43260, "&Add"
 43261, "Drill Down Component"
 43262, "ReportStart"
 43263, "Select Drill Down Component"
 43264, "Edit"
 43265, "&Insert"
 43266, "&Load..."
 43267, "Print Count"
 43268, "&Save..."
 43269, "Object"
 43270, "Objects"
 43271, "PageStart"
 43272, "Print header when footer orphaned"
 43273, "Select Object"
 43274, "Save changes to <reportname>."
 43276, "No visible page bands."
 43277, "There are no bands to print."
 43278, "All requested pages were beyond end of report."
 43279, "Zero height detail band invalid for NoData mode."
 43282, "Traversal"
 43283, "Design-time previewing not available."
 43284, "Not enough disk space to print report."
 43287, "First column too wide to fit on page."
 43288, "Unable to open file: <filename>."
 43289, "Invalid Memo."
 43290, "Invalid Image."
 43291, "Failure to convert floating point value."
 43292, "Controls beyond the new column width will be deleted."
 43293, "Controls within the column header and column footer will be deleted."
 43294, "Controls within the column header will be deleted."
 43295, "Controls within the column footer will be deleted."
 43296, "Invalid value: Zero height band cannot contain components."
 43297, "Invalid value: Height of band cannot exceed height of page."
 43298, "Bottom of control extends below workspace."
 43299, "AutoSize has been turned off."
 43300, "No CustomField Assigned."
 43301, "No DataField Assigned."
 43302, "Detail band does not fit on page."
 43303, "Date"
 43304, "DateTime"
 43305, "PrintDateTime"
 43306, "PageCount"
 43307, "PageSet"
 43308, "PageSetDesc"
 43309, "PageNo"
 43310, "PageNoDesc"
 43311, "Time"
 43312, "Top to Bottom"
 43313, "Count"
 43314, "Sum"
 43315, "Minimum"
 43316, "Maximum"
 43317, "Average"
 43318, "Rectangle"
 43319, "Square"
 43320, "Rounded Rectangle"
 43321, "Rounded Square"
 43322, "Ellipse"
 43323, "Circle"
 43324, "String"
 43325, "Bottom"
 43326, "Grid Options"
 43327, "Right"
 43328, "Controls beyond the new page width will be deleted."
 43329, "There are no data fields on which to group."
 43330, "There are no custom fields on which to group."
 43331, "Group"
 43332, "Invalid Number."
 43333, "Invalid property value."
 43334, "Integer"
 43335, "Single"
 43336, "ShiftRelativeTo..."
 43337, "Double"
 43338, "Shift Relative To"
 43339, "Extended"
 43340, "Set object position based on"
 43341, "Currency"
 43342, "Cyclic assignment of ShiftRelativeTo property."
 43343, "<None>"
 43344, "&Grid Options"
 43345, "Display &Grid"
 43346, "Sna&p to Grid"
 43347, "Grid Size &X"
 43348, "Grid Size &Y"
 43349, "Grid size X must be an integer between 2 and 128."
 43350, "Grid size Y must be an integer between 2 and 128."
 43351, "RichText"
 43352, "DBRichText"
 43353, "Rich Text Editor"
 43354, "Bullets"
 43355, "Save changes?"
 43356, "OK to overwrite <filename> ?"
 43357, "Save changes to <filename> ?"
 43358, "Row"
 43359, "Col"
 43360, "Modified"
 43361, "Open"
 43362, "Save"
 43363, "Boolean"
 43364, "Undo"
 43365, "Cut"
 43366, "Copy"
 43367, "Paste"
 43368, "Region"
 43369, "SubReport"
 43370, "ParentHeight"
 43371, "ParentWidth"
 43372, "Column"
 43373, "NewPrintJob"
 43374, "Main"
 43375, "Bottom to Top"
 43376, "Margins"
 43377, "Invalid Value"
 43378, "Variable Type"
 43379, "Data Type"
 43380, "Child"
 43381, "Section"
 43382, "Fixed"
 43383, "&Footer"
 43384, "Position"
 43385, "&Apply"
 43386, "Position..."
 43387, "&Screen Pixels"
 43388, "&Printer Pixels"
 43389, "&Thousandths of MM"
 43390, "Report Outline"
 43391, "Report Tree"
 43392, "Select Report"
 43393, "ColumnEnd"
 43394, "&Data..."
 43395, "Master Data Pipeline"
 43396, "Detail Data Pipeline"
 43397, "Bottom Offset"
 43398, "Print Position"
 43399, "Error loading memo."
 43409, "Char"
 43410, "ResetPageNo"
 43412, "MaintainAspectRatio"
 43413, "ParentPrinterSetup"
 43414, "Error loading rich text."
 43415, "PrintPosition exceeds available page space"
 43416, "&Ignore"
 43417, "Ignore &All"
 43418, "Error Reading Template"
 43419, "Overflow Offset"
 43420, "Start new column"
 43421, "New column when less than"
 43422, "Reprint group headers on subsequent columns"
 43423, "Only UPC and EAN barcodes can have add-on codes."
 43424, "Add-on codes must be either 2 or 5 digits"
 43425, "PostNet barcodes must have AutoSize = True"
 43426, "EAN-13 and UPC-A barcodes must have AutoSizeFont = True"
 43427, "BarWidth must be at least <minbarwidth>"
 43428, "BarWidth can be no more than <maxbarwidth>"
 43429, "Only Interleaved 2 of 5 barcodes can have bearer bars"
 43430, "Code 39 barcodes can only contain A-Z, 0-9, $, %, +, -, ., /, and spaces"
 43431, "EAN-13 barcodes must be 12 digits (13 with check digit)"
 43432, "EAN-13 barcodes must be 13 digits including the check digit"
 43433, "EAN-13 barcodes must be numeric"
 43434, "Interleaved 2 of 5 barcodes must be numeric"
 43435, "Interleaved 2 of 5 barcodes must have an even number of digits"
 43436, "PostNet barcodes must be numeric"
 43437, "PostNet barcodes must be 5, 9, or 11 digits long"
 43438, "UPC-A barcodes must be 11 digits (12 with check digit)"
 43439, "UPC-A barcodes must be 12 digits including the check digit"
 43440, "UPC-A barcodes must be numeric"
 43441, "AutoSizeFont"
 43442, "PrintHumanReadable"
 43443, "Configure..."
 43444, "Configure"
 43445, "Type"
 43446, "Bar Width"
 43447, "Wide Bar Ratio"
 43448, "Add On Code"
 43449, "Bearer Bars"
 43450, "Calculate Check Digit"
 43451, "Code 128 must begin with a start code (#208, #209 or #210)"
 43452, "A start code can only be placed at the beginning of the symbol"
 43453, "Only Code B can contain the character <character>"
 43454, "Only Code A can contain characters #211 through #242"
 43455, "The Code C portion must contain an even number of digits"
 43456, "The Code C portion must be numeric"
 43457, "CODE C does not utilize characters #201 through #204"
 43458, "You cannot have two shift codes in a row"
 43459, "Windows cannot print due to a problem with the current printer setup."
 43460, "BarCode"
 43461, "DBBarCode"
 43462, "Chart"
 43463, "DBChart"
 43464, "Standard Components"
 43465, "Data Components"
 43466, "Advanced Components"
 43467, "Nudge Up"
 43468, "Nudge Down"
 43469, "Nudge Left"
 43470, "Nudge Right"
 43472, "Automatic"
 43473, "More Font Colors..."
 43474, "None"
 43475, "More Highlight Colors..."
 43476, "No Fill"
 43477, "More Fill Colors..."
 43478, "No Line"
 43479, "More Line Colors..."
 43480, "Font Color"
 43481, "Highlight Color"
 43482, "Fill Color"
 43483, "Line Color"
 43484, "Align or Space"
 43485, "Size"
 43486, "Nudge"
 43487, "Draw"
 43488, "Line Thickness"
 43489, "Line Style"
 43490, "Standard"
 43491, "System Variable"
 43492, "Variable"
 43493, "already exists."
 43494, "Replace existing report?"
 43495, "E&dit Chart..."
 43496, "E&xport Chart..."
 43497, "&Refresh Data"
 43498, "Drill Down"
 43499, "Toolbars"
 43500, "Data Pipeline"
 43501, "Reset On"
 43502, "MailMerge"
 43503, "&Insert Field..."
 43504, "Calculate On"
 43505, "&Font..."
 43506, "Keep group together"
 43507, "StopPosition"
 43508, "&Details"
 43509, "&Folder"
 43510, "&List"
 43511, "&Open"
 43512, "&Rename"
 43513, "&Status Bar"
 43514, "&Toolbar"
 43515, "(a > z)"
 43516, "(large > small)"
 43517, "(newer > older)"
 43518, "(older > newer)"
 43519, "(small > large)"
 43520, "(z > a)"
 43521, "<count> item(s) selected"
 43522, "<count> items"
 43523, "<name> already exists."
 43524, "All Folders"
 43525, "Are you sure you want to delete '<name>'?"
 43526, "Are you sure you want to delete these <count> folders and move all contents to the Recycle Bin?"
 43527, "Are you sure you want to delete these <count> items?"
 43528, "Are you sure you want to remove the folder '<name>' and move all its contents to the Recycle Bin?"
 43529, "Are you sure you want to send '<name>' to the Recycle Bin?"
 43530, "Are you sure you want to send these <count> items to the Recycle Bin?"
 43531, "bytes"
 43532, "Cannot move '<name>': The destination folder is the same as the source folder."
 43533, "Cannot rename '<name>': A folder with the name you specified already exists."
 43534, "Cannot rename '<name>': An item with the name you specified already exists."
 43535, "Code Module"
 43536, "Confirm Folder Delete"
 43537, "Confirm Folder Replace"
 43539, "Confirm Item Delete"
 43540, "Confirm Item Replace"
 43541, "Confirm Multiple Folder Delete"
 43542, "Rena&me"
 43543, "Confirm Multiple Item Delete"
 43544, "Contents of <name>"
 43545, "Create New Folder"
 43546, "Data Module"
 43547, "Delete"
 43548, "Designer property is not assigned."
 43549, "Details"
 43550, "Do you want to replace it?"
 43551, "Error Moving Folder"
 43552, "Error Renaming Folder"
 43553, "Error Renaming Item"
 43554, "Folder"
 43555, "FolderPipeline property is not assigned."
 43556, "FolderPipeline: '<name>' could not be opened."
 43557, "Help"
 43558, "New &Folder"
 43559, "DataPipelineTraversal"
 43560, "Item not found: <name>"
 43561, "ItemPipeline <name> field: '<name>' could not be found."
 43562, "ItemPipeline Template field: '<name>' is not a memo or blob field."
 43563, "ItemPipeline property is not assigned."
 43564, "ItemPipeline: '<name>' could not be opened."
 43565, "KB"
 43566, "List"
 43567, "Look &in:"
 43568, "Modified"
 43569, "Name"
 43570, "New Folder"
 43571, "New Report"
 43572, "New &Report"
 43573, "No Report Explorer form class is registered."
 43574, "Open Report"
 43575, "Print"
 43576, "Print Pre&view"
 43577, "Print Preview"
 43578, "Recycle Bin"
 43579, "Report"
 43580, "Report Explorer"
 43581, "Report property of Designer is not assigned."
 43582, "Save &in:"
 43583, "Size"
 43584, "Specify a different folder name."
 43585, "Specify a different item name."
 43586, "This folder already contains a folder called '<name>'."
 43587, "This folder already contains an item called '<name>'."
 43588, "Type"
 43589, "Up One Level"
 43590, "Would you like to replace the existing item?"
 43591, "FolderPipeline <name> field: '<name>' could not be found."
 43592, "If the items in the existing folder have the same name as reports in the folder you are moving,"
 43593, "do you want to replace the existing items?"
 43594, "&Explore"
 43595, "Empty Recycle &Bin"
 43596, "Adjust field widths so all fields fit on page."
 43597, "Align Left 1"
 43598, "Align Left 2"
 43599, "Available Fields"
 43600, "Back"
 43601, "Block"
 43602, "Bold"
 43603, "Casual"
 43604, "Compact"
 43605, "Corporate"
 43606, "Data Pipeline Name"
 43607, "Do you want to preview the report of modify the report's design?"
 43608, "Fields must be selected before continuing."
 43609, "Finish"
 43610, "Formal"
 43611, "How would you like to lay out your report?"
 43612, "Layout"
 43613, "Modify the report's design"
 43614, "Next"
 43615, "Outline 1"
 43616, "Outline 2"
 43617, "Please enter a title for your report."
 43618, "Preview the report"
 43619, "Priority"
 43620, "Report Wizard"
 43621, "Selected Fields"
 43622, "Soft Gray"
 43623, "Stepped"
 43624, "Tabular"
 43625, "That is all the information needed to create your report."
 43626, "Vertical"
 43627, "What style would you like?"
 43628, "ColumnStart"
 43629, "Which fields do you want on your report?"
 43630, "Insert Field"
 43631, "Object Outline"
 43632, "Show Titles"
 43633, "Create"
 43634, "Style"
 43635, "Grid"
 43636, "Labels"
 43637, "Fields"
 43638, "Refresh"
 43639, "Data Tree"
 43640, "<name> is not a valid identifier."
 43641, "<name> is not a unique identifier."
 43642, "Fields for <name>"
 43643, "Expand All"
 43644, "Traverse All Data"
 43645, "EAN-8 barcodes must be 7 digits (8 with check digit)"
 43646, "EAN-8 barcodes must be 8 digits including the check digit"
 43647, "EAN-8 barcodes must be numeric"
 43648, "UPC-E barcodes must be 6 digits (7 with check digit)"
 43649, "UPC-E barcodes must be 7 digits including the check digit"
 43650, "UPC-E barcodes must be numeric"
 43651, "The only valid choices for FIM codes are A, B, or C"
 43652, "Codabar can only encode 0-9, A, B, C, D, -, $, :, /, ., and +"
 43653, "A Codabar symbol must start and end with A, B, C, or D."
 43654, "A, B, C, and D are used only for the start and stop codes for Codabar."
 43655, "They cannot appear anywhere in the middle of the data."
 43656, "Calc Order"
 43657, "Report Bands"
 43658, "Variables"
 43659, "new column"
 43660, "new row"
 43661, "new value"
 43662, "Configure Crosstab"
 43663, "1. Construct your crosstab by dragging fields from the field list into the shaded cells."
 43664, "2. Remove columns, rows or values by dragging from the diagram back to the field list."
 43665, "3. Reorder columns, rows or values by dragging within the diagram."
 43666, "4. Format crosstab by selecting a row, column or value and then using the toolbar or popup menu."
 43667, "Sort Asc"
 43668, "Sort Desc"
 43669, "&Tips"
 43670, "&Font"
 43671, "&Color"
 43672, "&Display Format"
 43673, "&Visible"
 43674, "&Gridlines"
 43675, "Pagination"
 43676, "Across then Down"
 43677, "Down then Across"
 43678, "CrossTab Wizard"
 43679, "Data must be selected before continuing"
 43680, "Specify the data and page orientation"
 43681, "DirectDraw"
 43682, "DataDictionary.<name> '<name>' could not be opened."
 43683, "DataDictionary.<name> property is not assigned."
 43684, "<name>.<name> field: '<name>' could not be found."
 43685, "[Read Only]"
 43686, "New components cannot be added to frame instances."
 43687, "Selection contains a component introduced in an ancestor and cannot be deleted."
 43688, "Timing"
 43689, "Timing..."
 43690, "New Items"
 43691, "Page Style"
 43692, "Auto Encode"
 43693, "&Calc Order..."
 43694, "Data to be encoded"
 43695, "CrossTab"
 43696, "&Load SubReport..."
 43697, "S&ave SubReport..."
 43698, "Loa&d From File..."
 43699, "Sa&ve to File..."
 43700, "Load SubReport From File..."
 44101, "Save SubReport To File..."
 44102, "&Skip Nulls"
 44103, "ReportEnd"
 44104, "GroupStart"
 44105, "GroupEnd"
 44106, "GroupBeforeHeader"
 44107, "GroupBeforeFooter"
 44108, "Null Order"
 44109, "First"
 44110, "Last"
 44111, "You must type a folder name."
 44112, "You must type an item name."
 44113, "&Cache Pages"
 44114, "P&ass Setting"
 44115, "&One Pass"
 44116, "&Two Pass"
 44117, "Page Setting"
 44118, "Page Setting..."
 44119, "Label Templates"
 44120, "Printer information"
 44121, "Dot Matrix"
 44122, "Laser and ink jet"
 44123, "Products"
 44124, "Label information"
 44125, "Justify"
 44126, "Force Justify"
 44127, "Document Name"
 44128, "Duplex"
 44129, "Horizontal"
 44130, "KeepTogether"
 44131, "LookAhead"
 44132, "ResetGroup..."
 44133, "Bands Per Record"
 44134, "No Data Pipeline assigned."
 44135, "Column Traversal"
 44136, "Top to Bottom"
 44137, "Left to Right"
 44138, "AutoDisplay"
 44139, "Repeated Captions"
 44140, "Outline Settings..."
 44141, "Outline Settings"
 44142, "Create Nodes For Components:"
 44143, "Outline Preview:"
 44144, "Enabled"
 44145, "Create Page Nodes"
 44146, "Preview"
 44147, "Entire Report"
 44148, "Page Limit:"
 44149, "Can't generate report. Preview is not available."
 44150, "Find Text Settings"
 44151, "Page Break"
 44152, "Anchors"
 44153, "Border"
 44154, "Text"
 44155, "All"
 44156, "Themes"
 44157, "Object Inspector"
}