STRINGTABLE
{
 43901, "Events"
 43902, "Export"
 43903, "Import"
 43904, "Messages"
 43905, "Module"
 43906, "Toolbox"
 43907, "Variables"
 43908, ", but found '<name>' instead."
 43909, "<name> could not be compiled"
 43910, "addition"
 43911, "Assignment"
 43912, "Boolean"
 43913, "Calc"
 43914, "Character"
 43915, "Class"
 43916, "Code Toolbox: Data"
 43917, "Code Toolbox: Language"
 43918, "Code Toolbox: Report Objects"
 43919, "Code"
 43920, "Compile Completed: 0 Errors"
 43921, "Compile"
 43922, "concatenation"
 43923, "Constants"
 43924, "Conversion"
 43925, "Could not compile program: <name>"
 43926, "Could not run program: <name>"
 43927, "Data"
 43928, "DateTime"
 43929, "Declarations"
 43930, "Definition"
 43931, "division"
 43932, "equal"
 43933, "Error: <name>, Line <no>"
 43934, "Event Handlers"
 43935, "Events for <name>"
 43936, "Reserved Word"
 43937, "Expected: <name> or <name>"
 43938, "Expected: <name>"
 43939, "Format"
 43940, "Global"
 43941, "greater than or equal"
 43942, "greater than"
 43943, "integer division"
 43944, "Language"
 43945, "less than or equal"
 43946, "less than"
 43947, "logical and"
 43948, "logical or"
 43949, "logical xor"
 43950, "Math"
 43951, "Module View"
 43953, "Name"
 43954, "negation"
 43955, "New Function"
 43956, "New Procedure"
 43957, "New"
 43958, "not equal"
 43959, "Numeric"
 43960, "Objects"
 43961, "Other"
 43962, "Programs"
 43963, "Properties for <name>"
 43964, "Property"
 43965, "Read Only"
 43966, "Relational"
 43967, "remainder"
 43968, "Report Bands"
 43969, "Report Code file"
 43970, "Report Objects"
 43971, "Revert"
 43972, "Save"
 43973, "sign identity"
 43974, "sign negation"
 43975, "String"
 43976, "subtraction"
 43977, "type check: ObjectRef is ClassRef"
 43978, "Type"
 43979, "typecast: ObjectRef as ClassRef"
 43980, "Unary"
 43981, "Unknown"
 43982, "Value"
 43983, "variable | object.property := expression;"
 43984, "Variables for <name>"
 43986, "Function"
 43987, "Statement"
 43988, "Data Type"
 43989, "Operator"
 43990, "Enumerated Type"
 43991, "<identifier> is a system constant, and cannot be used as an identifier."
 43992, "<identifier> is already declared as a global variable."
 43993, "<identifier> is already declared as a global constant."
 43994, "Identifier redeclared: <identifier>."
 43995, "Incompatible types."
 43996, "Invalid parameter."
 43997, "Missing the reserved word 'procedure' or 'function'."
 43998, "Missing the program name."
 43999, "Missing a right parentheses."
 44901, "<identifier> is not type identifier."
 44902, "Parser error."
 44903, "Undeclared identifier: <identifier>."
 44904, "Unexpected end of source."
 44905, "Unexpected token: <identifier>"
}